<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-List</title>
    <style>
        .img-tag{
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .img-tag img {
            width: 100%;
          
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">TODO LIST</h1>
    <form method="post" action="/todoCon" align="center" enctype="multipart/form-data">
        <label for="">todoList : </label>
        <input type="text" name="todoList">
        <input type="file" name="uploadFile">
        <button type="submit">Submit</button>
    </form>

    <h2 align="center">views-page</h2>
    <table align="center" width="800px" border="1">
        <thead>
            <tr>
                <th>#id</th>
                <th>TodoList</th>
                <th>image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% todos.forEach((todoitem, index)=>{ %>
                <tr>
                    <td>
                        <%= index + 1 %>
                    </td>
                    <td>
                        <%= todoitem.title%>
                    </td>
                    <td style="display: flex; justify-content: center; align-items: center;">
                        <div class="img-tag">
                            <img src="<%= todoitem.path %>" alt="<%= todoitem.title %>">
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <a href="editCon/<%= todoitem._id %>">edit</a>
                        ||
                        <a href="deleteCon/<%= todoitem._id %>">delete</a>
                    </td>
                </tr>
            <% })%>
        </tbody>
    </table>
</body>

</html>